@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans' , sans-serif; 
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #201b2c;
   }
   
   .principal{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
   }
   
   .img-esquerda{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 1rem;
   }

   .img-esquerda img {
    width: 31rem;
   }

   .form-direita{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;    
   }

   .cabeça{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
   }

   .cabeça h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #64E2FF;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
   }

   .informaçoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
   }

   .caixa-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
   }

   .caixa-info input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
   }

   .caixa-info input:hover{
    background-color: #eeeeee75;
   }

   .caixa-info input:focus-visible{
    outline: 1px solid #64E2FF;
   }
   
   .caixa-info label,
   .genero-titulo h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
   }

   .caixa-info input::placeholder{
    color: #000000be;
   }

   .genero{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
   }

   .genero-input{
    display: flex;
    align-items: center;
   }

   .genero-input input{
    margin-right: 0.35rem;
   }

   .genero-input label{
    font-size: 0.81;
    font-weight: 600;
    color: #000000c0;
   }

   .btn-avançar-cadastro{
    width: 100%;
    margin-top: 0.3rem;
    border: none;
    background-color: #64E2FF;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
   }

   .btn-avançar-cadastro:hover {
    background-color: #0099A1;
   }

   .btn-avançar-cadastro > a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media only screen and (max-width: 950px) {
    .img-esquerda{
        display: none;
    }

    .principal{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-direita{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {

    .principal{
        width: 94%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    
     }

     .cabeça{
        display: flex;
        justify-content: center;
        align-items: center;
     }

     .informaçoes{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        display: flex;
        align-items: center;
     }

     .genero-input{
        margin-top: 2rem;
        display: flex;
        align-items: center;
       max-width: 10rem;
        overflow: scroll;
     }

     .genero{
        flex-direction: column;
     }

    .btn-avançar-cadastro{
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 10rem;
    }
    
    }